/* Global */
html {
  background    : #000000;
  font-family     : "Trebuchet MS", Arial, Verdana;
  font-size       : 12px;
  color           : #444444;
  margin          : 0;
  height          : 100%;
}
body {
  padding       : 0px;
  margin        : 0px;
  margin-left   : 50%;
  cursor        : crosshair;
  background    : #000000;
  height        : 100%;
}
img {
  border : 0px;
}
#page {
  position      : relative;
  display       : block;
  width         : 850px;
  left          : -425px;
  border-left   : 1px solid #333333;
  border-right  : 1px solid #333333;
  background    : #FFFFFF;
  height        : 100%;
  background-image    : url(menu.jpg);
  background-position : top;
  background-repeat   : repeat-x;
}

/* Zone de Titre */
#header {
  text-align          : center;
  font-size           : 12px;
  margin-bottom       : 75px;
}
#header .lang {
  position      : absolute;
  top           : 0px;
  right         : 0px;
  float         : right;
  padding-top   : 2px;
  padding-right : 3px;
}
#header .theme {
  position      : absolute;
  top           : 20px;
  left          : 0px;
  float         : left;
  padding-top   : 2px;
  padding-left  : 3px;
}
#header .cvlist {
  position      : absolute;
  top           : 0px;
  left          : 0px;
  float         : left;
  padding-top   : 2px;
  padding-left  : 3px;

}
#header .cvlist select,
#header .theme select {
  font-size     : 12px;
  border        : 1px #444444 solid;
}
#header .poste {
  font-size     : 30px;
  font-weight   : bold;
}
#header .info {
  font-size     : 12px;
  font-weight   : bold;
}

#header .menu  {
  position      : relative;
  bottom        : 0px;
  text-align    : right;
  padding-right : 1px;
  padding-top   : 1px;
  padding-bottom: 1px;
  margin-top    : 22px;/*29px;*/
  padding       : 0;
  float         : right;
  color         : #FFFFFF;

}

#header .submenu{
  width         : 92px;
  text-align    : center;
  padding       : 5px 0 9px 0;
  margin-left   : 0px;
  display       : block;
  float         : right;
  cursor        : pointer;
  margin-top    : 2px;
  background-image    : url(menua.jpg);
  background-repeat   : no-repeat;
}

#header .submenu:hover {
  width         : 92px;
  padding       : 5px 0 9px 0;
  text-align    : center;
  margin-left   : 0px;
  display       : block;
  float         : right;
  cursor        : pointer;
  margin-top    : 2px;
  background-image    : url(menuahover.jpg);
  background-repeat   : no-repeat;
}
#header .submenuh {
  width         : 92px;
  padding       : 5px 0 9px 0;
  text-align    : center;
  margin-left   : 1px;
  display       : block;
  float         : right;
  cursor        : pointer;
  margin-top    : 1px;
  background-image    : url(menuahover.jpg);
  background-repeat   : no-repeat;
}

#footer {
  position   : absolute;
  display    : block;
  font-size  : 10px;
  text-align : center;
  bottom     : 0px;
  width      : 100%;
  background : #222222;
  border-top : 1px solid;
  color      : #CCCCCC;
  z-index    : 5;
}
#footer a {
  color      : #CCCCCC;
}

/* Commun a tout les contenu */
#content {
  position      : absolute;
  display       : block;
  width         : 100%;
  top           : 125px;
  bottom        : 30px;
  overflow      : auto;
}

#content .page {
  text-align    : center;
  margin        : 10px;
  padding       : 0px;
}

#content .content {
  padding       : 5px;
  border        : 1px solid #44b4d9;
  border-top    : 0px;
  background    : #5A5357;
 }

#content .title {
  padding       : 5px;
  background-image : url(title.jpg);
  border        : 1px solid #44b4d9;
  color         : #FFFFFF;
  padding       : 0px;
  margin        : 0px;
  font-weight   : bold;
  font-size     : 15px;
}

#content .top {
  text-align    : center;
  background    : #908487;
  color         : #111111;
  margin        : 0px;
  border-top    : 1px solid #44b4d9;
  border-right  : 1px solid #44b4d9;
  border-left   : 1px solid #44b4d9;
  font-size     : 12px;
  margin-top    : 5px;
  vertical-align: top;
  font-weight   : bold;
}
#content .bottom {
  text-align    : center;
  background    : #E1DFE2;
  color         : #111111;
  margin        : 0px;
  border-left   : 1px solid #44b4d9;
  border-bottom : 1px solid #44b4d9;
  border-right  : 1px solid #44b4d9;
  font-size     : 12px;
  padding-left  : 5px;
}

#photo {
  float         : left;
  display       : block;
  margin-right  : 5px;
  margin-bottom : 3px;
}

#photo .cadre1 {
  position  : relative;
  display   : block;
  width     : 154px;
  height    : 173px;
  border    : 1px solid #88f8ff;
  background: #FFFFFF;
}
#photo .cadre2 {
  position  : relative;
  display   : block;
  width     : 152px;
  height    : 171px;
  border    : 1px solid #44b4d9;
}
#photo .cadre3 {
  position  : relative;
  display   : block;
  width     : 150px;
  height    : 169px;
  border    : 1px solid #007095;
}
#photo .img {
  width      : 100px;
  height     : 100px;
  border     : 0px;
}


#params {
  width           : 650px;
  margin          : 0px;
  border          : 1px solid #FFFFFF;
  background      : #E1DFE2;
  color           : #111111;
  padding         : 0px;
  font-size       : 12px;
  border-collapse : collapse;
  margin-bottom   : 0px;
}
#params .left {
  text-align    : right;
  background    : #908487;
  color         : #111111;
  margin        : 0px;
  padding       : 0px;
  width         : 150px;
  font-size     : 12px;
  padding-right : 5px;
  vertical-align: top;
  height        : 100%;
  border-bottom : 1px solid #FFFFFF;
}
#params .right {
  text-align    : left;
  margin        : 0px;
  padding       : 0px;
  font-size     : 12px;
  padding-left  : 5px;
  border-bottom : 1px solid #FFFFFF;
}

/* Propre au contenu MY */
#presentation {
  display       : block;
}
#knowledge {
  display : none;
}
#studies {
  display : none;
}
#others {
  display : none;
}
#experiences {
  position   : relative;
  display    : none;
/*  z-index    : 50;*/
}
#download {
  display : none;
}


#experiences .year {
  border        : 1px solid #333333;
  background    : #908487;
  font-size     : 12px;
  font-weight   : bold;
  margin-top    : 3px;
  margin-bottom : 3px;
  cursor        : pointer;
}

.experience_element {
  text-align    : center;
  background    : #E1DFE2;
  color         : #111111;
  margin        : 0px;
  border-left   : 1px solid #44b4d9;
  border-bottom : 1px solid #44b4d9;
  border-right  : 1px solid #44b4d9;
  font-size     : 12px;
  padding       : 0px;
  border-collapse: collapse;
  margin-left   : 5px;
  margin-right  : 5px;
  margin-bottom : 5px;
  width         : 99%;
}

.experience_element .poste {
  text-align    : center;
  background    : #908487;
  color         : #111111;
  margin        : 0px;
  border-top    : 1px solid #44b4d9;
  border-right  : 1px solid #44b4d9;
  border-left   : 1px solid #44b4d9;
  font-size     : 12px;
  vertical-align: top;
  font-weight   : bold;
}
.experience_element .date {
  position      : absolute;
  top           : 0px;
  right         : 0px;
  font-weight   : normal;
  border-bottom : 1px solid #44b4d9;
  border-left   : 1px solid #44b4d9;
  padding-left  : 3px;
  padding-right : 3px;
}
.experience_element .subtitle {
  text-align    : right;
  background    : #E2E2E2;
  color         : #111111;
  border-bottom : 1px solid #44b4d9;
  margin        : 0px;
  width         : 20%;
  padding-right : 5px;
  vertical-align: top;
}
.experience_element .subinfo {
  text-align    : left;
  border-bottom : 1px solid #44b4d9;
  color         : #111111;
  margin        : 0px;
  padding-left  : 3px;
}
.experience_element ul {
  margin        : 0px;
  padding       : 0px;
  padding-left  : 15px;
}

