/* Global */
html {
  height        : 100%;
}
body {
  padding       : 0px;
  margin        : 0px;
  margin-left   : 50%;
  cursor        : crosshair;
  background    : #EEEEEE;
  height        : 100%;
}
img {
  border : 0px;
}
#page {
  position      : relative;
  display       : block;
  width         : 850px;
  left          : -425px;
  border-left   : 1px solid #333333;
  border-right  : 1px solid #333333;
  background    : #FFFFFF;
  height        : 100%;
}

/* Zone de Titre */
#header {
  border-bottom : 1px solid #333333;
  text-align    : center;
  font-size     : 12px;
}
#header .lang {
  position      : absolute;
  top           : 0px;
  right         : 0px;
  float         : right;
  padding-top   : 2px;
  padding-right : 3px;
}
#header .theme {
  position      : absolute;
  top           : 15px;
  right         : 0px;
  float         : right;
  padding-top   : 2px;
  padding-right : 3px;
}
#header .cvlist {
  position      : absolute;
  top           : 0px;
  left          : 0px;
  float         : left;
  padding-top   : 2px;
  padding-left  : 3px;

}
#header .cvlist select,
#header .theme select {
  font-size     : 12px;
  border        : 1px #444444 solid;
}

#header .poste {
  font-size     : 30px;
  font-weight   : bold;
}
#header .info {
  font-size     : 12px;
  font-weight   : bold;
}

#header .menu  {
  position      : relative;
  bottom        : 0px;
  text-align    : center;
  padding-right : 1px;
  padding-top   : 1px;
  padding-bottom: 1px;
  margin-top    : 8px;
}

#header .submenu{
  background    : #CCCCCC;
  padding-left  : 15px;
  padding-right : 15px;
  padding-bottom: 1px;
  margin-left   : 1px;
  display       : inline;
  cursor        : pointer;
}

#header .submenu:hover,
#header .submenuh {
  background    : #AAAAAA;
  padding-left  : 15px;
  padding-right : 15px;
  padding-bottom: 1px;
  margin-left   : 1px;
  display       : inline;
  cursor        : pointer;
}

#footer {
  position      : absolute;
  display       : block;
  font-size     : 10px;
  text-align    : center;
  bottom        : 0px;
  width         : 100%;
}

/* Commun a tout les contenu */
#content {
  position      : relative;
  display       : block;
  border-top    : 1px solid #AAAAAA;
  width         : 100%;
}

#content .page {
  text-align    : center;
  border        : 1px solid #AAAAAA;
  margin        : 10px;
  padding       : 1px;
}

#content .content {
  padding       : 5px;
}

#content .title {
  padding       : 5px;
  background    : #AAAAAA;
  padding       : 0px;
  margin        : 0px;
  font-weight   : bold;
  font-size     : 15px;
}

#content .top {
  text-align    : center;
  background    : #DDDDDD;
  color         : #111111;
  margin        : 0px;
  border-top    : 1px solid #CCCCCC;
  border-right  : 1px solid #CCCCCC;
  border-left   : 1px solid #CCCCCC;
  font-size     : 12px;
  margin-top    : 5px;
  vertical-align: top;
  font-weight   : bold;
}
#content .bottom {
  text-align    : center;
  background    : #EEEEEE;
  color         : #111111;
  margin        : 0px;
  border-left   : 1px solid #CCCCCC;
  border-bottom : 1px solid #CCCCCC;
  border-right  : 1px solid #CCCCCC;
  font-size     : 12px;
  padding-left  : 5px;
}

#photo {
  float       : left;
  display     : block;
  background  : #FFFFFF;
  margin-right  : 5px;
  margin-bottom : 3px;
}

#photo .cadre1 {
  position      : relative;
  display       : block;
  width         : 154px;
  height        : 173px;
  border        : 1px solid #DDDDDD;
}
#photo .cadre2 {
  position   : relative;
  display    : block;
  width      : 152px;
  height     : 171px;
  border     : 1px solid #777777;
}
#photo .cadre3 {
  position   : relative;
  display    : block;
  width      : 150px;
  height     : 169px;
  border     : 1px solid #000000;
}
#photo .img {
  width      : 100px;
  height     : 100px;
  border     : 0px;
}


#params {
  width           : 650px;
  margin          : 0px;
  border          : 1px solid #CCCCCC;
  background      : #EEEEEE;
  color           : #111111;
  padding         : 0px;
  font-size       : 12px;
  border-collapse : collapse;
  margin-bottom   : 0px;
}
#params .left {
  text-align    : right;
  background    : #DDDDDD;
  color         : #111111;
  margin        : 0px;
  padding       : 0px;
  width         : 150px;
  font-size     : 12px;
  padding-right : 5px;
  vertical-align: top;
  height        : 100%;
  border-bottom : 1px solid #CCCCCC;
}
#params .right {
  text-align    : left;
  margin        : 0px;
  padding       : 0px;
  font-size     : 12px;
  padding-left  : 5px;
  border-bottom : 1px solid #CCCCCC;
}

/* Propre au contenu MY */
#presentation {
  display       : block;
}
#knowledge {
  display : none;
}
#studies {
  display : none;
}
#others {
  display : none;
}
#experiences {
  display : none;
}
#download {
  display : none;
}


#experiences .year {
  border        : 1px solid #333333;
  background    : #AAAAAA;
  font-size     : 12px;
  font-weight   : bold;
  margin-top    : 3px;
  margin-bottom : 3px;
  cursor        : pointer;
}

.experience_element {
  text-align    : center;
  background    : #EEEEEE;
  color         : #111111;
  margin        : 0px;
  border-left   : 1px solid #CCCCCC;
  border-bottom : 1px solid #CCCCCC;
  border-right  : 1px solid #CCCCCC;
  font-size     : 12px;
  padding       : 0px;
  border-collapse: collapse;
  margin-left   : 5px;
  margin-right  : 5px;
  margin-bottom : 5px;
  width         : 99%;
}

.experience_element .poste {
  text-align    : center;
  background    : #DDDDDD;
  color         : #111111;
  margin        : 0px;
  border-top    : 1px solid #CCCCCC;
  border-right  : 1px solid #CCCCCC;
  border-left   : 1px solid #CCCCCC;
  font-size     : 12px;
  vertical-align: top;
  font-weight   : bold;
}
.experience_element .date {
  position      : absolute;
  top           : 0px;
  right         : 0px;
  font-weight   : normal;
  border-bottom : 1px solid #CCCCCC;
  border-left   : 1px solid #CCCCCC;
  padding-left  : 3px;
  padding-right : 3px;
}
.experience_element .subtitle {
  text-align    : right;
  background    : #E2E2E2;
  color         : #111111;
  margin        : 0px;
  width         : 20%;
  padding-right : 5px;
  vertical-align: top;
}
.experience_element .subinfo {
  text-align    : left;
  border-bottom : 1px solid #E2E2E2;
  color         : #111111;
  margin        : 0px;
  padding-left  : 3px;
}
.experience_element ul {
  margin        : 0px;
  padding       : 0px;
  padding-left  : 15px;
}

